*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: poppins;
}
.navbar{
    width: 100%;
    background-color: #D9D9D9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all 0.3s ease-in-out;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}
.judul{
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}
.container {
    width: 1280px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    gap: 20px;
    justify-content: center;
}
.first-container{
    display: flex;
    flex-direction: column;
}

.tentara{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.layout-tentara{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.layout-tentara p{
    font-size: 12px;
    margin-bottom: 25px;
}
.layout-tentara a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 3px;
    background-color: #399349;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: -0px;
}
.bg-tentara{
    height: 120px;
    width: 400px;
    background-color: #D5FFDD;
    position: absolute;
    z-index: -1;
    top: 165px;
    border-radius: 15px;
}
.kiri-bawah{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.kiri{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tukang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tukang img{
    margin-top: -7px;
    margin-left : -70px;
}
.kiri-a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    width: 110px;
    background-color: #E29A00;
    text-align: center;
}
.tukang a{
    border-radius: 25px;
    margin-left : -70px;
    margin-top: -35px;
}
.bg-tukang{
    background-color: #FFF4DC;
    margin-left : -70px;
    top: 310px;
}
.bg-kiri-bawah{
    height: 130px;
    width: 170px;
    position: absolute;
    z-index: -1;
    border-radius: 25px;
}
.pramugari{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -70px;
}
.pramugari img{
    margin-top: 9px;
}
.pramugari a{
    border-radius: 25px;
    margin-top: -35px;  
}
.bg-pramugari{
    background-color: #FFCED7;
    top: 460px;
}
.fotografer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 45px;
    height: 110%;
    margin-top: -10px;
}
.fotografer img{
    height: 120px;
    margin-left: 35px;
}
.fotografer h5{
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}
.fotografer p{
    font-size: 12px;
    text-align: center;
    width: 70%;
    margin-left: 30px;
    margin-bottom: 10px;
}
.fotografer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    width: 130px;
    background-color: #3279AF;
    text-align: center;
    border-radius: 25px;
    margin-left: 30px;
}
.bg-fotografer{
    background-color: #E2F2FF;
    height: 280px;
    width: 200px;
    position: absolute;
    top: 310px;
    z-index: -1;
    border-radius: 25px;
    margin-left: 30px;
}
.second-container{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: -60px;
    padding-top: 20px;
}
.sub-container1{
    height: 280px;
    background-color: #F4F4F4;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.isi-container-1{
    height: 60px;
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #D8D6C1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.sub-container1 img{
    height: 50px;
}
.text-sub-container1{    
    padding-left: 15px;
}
.sub-container1 a{
    text-decoration: none;
    font-size: 13px;
    background-color: #D8D6C1;
    padding: 2px 40px;
    border-radius: 25px;
    color: white;
}
/* Batas Kanan Atas */
.sub-container2{
    height: 120px;
    background-color: #F4F4F4;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.isi-container-2{
    height: 80px;
    width: 180px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.text-container2{
    display: flex;
    flex-direction: column;
}
.sub-container2 a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    background-color: #D8D6C1;
    padding: 8px 5px 8px 5px;
    border-radius: 10px;
    color: white;
}
.sub-container2 img {
    height: 80px;
}
@media screen and (min-width: 425px) and (max-width: 1280px) {
    header .navbar{
        position: fixed;
        bottom: 0;
        width: 100vw;
        overflow: hidden;
        z-index: 999;
    }
    .container{
        width: 100vw;
        flex-direction: column;
    }
    .first-container{
        width: 100vw;
        flex-direction: column;
    }
    .second-container{
        width: 100vw;
        flex-direction: column;
    }
    .tentara{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        padding-bottom: 50px;
    }    
    .layout-tentara{
        justify-content: center;
        align-items: center;
    }
    .bg-tentara{
        position: none;
        width: 70%;
        height: 210px;
    }    
    .layout-tentara p{
        margin-bottom: 0px;
    }
    .layout-tentara a{
        margin-bottom: 0px;
        position: relative;
        top : -80px;
    }
    .kiri-bawah{
        flex-direction: column;
    }    
    .kiri{
        flex-direction: column;
        margin-left: 0px;
    }    
    .tukang{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 50px;
    }    
    .tukang img{
        height: 200px;
        width: 180px;
        margin-top: 0px;
        margin-left : 0px;
    }    
    .tukang a{
        padding: 10px;
        width: 200px;
        margin-left : 0px;
        margin-top: -10px;
    }    
    .bg-tukang{
        background-color: #FFF4DC;
        margin-left : 0px;
        height: 230px;
        width: 70%;
        top: 400px;
    }    
    .pramugari{
        margin-top: 50px;
        margin-left: 0px;
        padding-bottom: 40px;
    }    
    .pramugari img{
        height: 180px;
        width: 180px;
        margin-top: 0px;
    }
    .pramugari a{
        padding: 10px;
        width: 200px;
        margin-top: -10px;  
    }
   .bg-pramugari{
        height: 230px;
        width: 70%;
        top: 655px;
    }
    .fotografer{
        width: 100%;
        margin-left: 0px;
        height: 100%;
        margin-top: 30px;
    }
    .fotografer img{
        height: 180px;
        margin-left: 0px;
        margin-top: -50px;
    }
    .fotografer a{
        width: 200px;
        margin-left: 0px;
        position:absolute;
        /* margin-bottom: -122px; */
        margin-top:75px;
    }
    .fotografer p{
        width: 50%;
        margin-left: 0px;
        /* margin-bottom: -260px; */
        margin-top:200px;
        position: absolute;
    }
    .fotografer h5{
        margin-left: 0px;
        font-size: 20px;
        postion:absolute;
        /* margin-bottom: 100px; */
        margin-top:10px;
    }
    .bg-fotografer{
        height: 230px;
        width: 70%;
        top: 960px;
        margin-left: 0px;
    }
    .second-container{
        gap: 30px;
        margin-left: 0px;
    }
    .sub-container1{
        height: auto;
        background-color: transparent;
        width: 70%;
        gap: 20px;
    }
    .sub-container2{
        height: auto;
        width: 70%;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        padding-bottom: 70px;
    }
    .sub-container1 .dokter{
        height: 230px;
        width: 100%;
        background-color: #E9E8E2;
        flex-direction: column;
        padding: 15px;
    }
    .sub-container1 .pilot{
        height: 230px;
        width: 100%;
        background-color: #E9E8E2;
        flex-direction: column;
        padding: 15px;
    }
    .sub-container1 .ilmuan{
        height: 230px;
        width: 100%;
        background-color: #E9E8E2;
        flex-direction: column;
        padding: 15px;
    }
    .sub-container2 .pembalap{
        height: 230px;
        width: 100%;
        flex-direction: column;
        background-color: #FFDBC5;
    }
    .sub-container2 .astronout{
        height: 230px;
        width: 100%;
        flex-direction: column;
        background-color: #8FC5ED;
    }
    .dokter img{
        height: 500px;
        margin-bottom: 0px;
    }
    .pilot img {
        height: 500px;
        margin-bottom: 0px;
    }
    .ilmuan img {
        height: 500px;
        margin-bottom: 0px;
        margin-left: 25px;
    }
    .dokter h5{
        visibility: hidden;
        position: absolute;
    }
    .pilot h5{
        visibility: hidden;
        position: absolute;
    }
    .ilmuan h5{
        visibility: hidden;
        position: absolute;
    }
    .dokter .text-dokter {
        padding-left: 0px;
        text-align: center;
    }
    .pilot .text-pilot {
        padding-left: 0px;
        text-align: center;
    }
    .ilmuan .text-ilmuwan {
        padding-left: 0px;
        text-align: center;
    }
    .dokter a{
        font-size: 20px;
        padding: 5px 50px 5px 50px;
    }
    .pilot a{
        font-size: 20px;
        padding: 5px 50px 5px 50px;
    }
    .ilmuan a{
        font-size: 20px;
        padding: 5px 50px 5px 50px;
    }
    .pembalap img{
        height: 200px;
        margin-top: 20px;
    }
    .astronout img{
        height: 180px;
        margin-top: 30px;
    }
    .pembalap a{
        font-size: 17px;
        background-color: #E36415;
        padding: 5px 50px 5px 50px;
        border-radius: 25px;
        margin-top: -15px;
    }
    .astronout a{
        font-size: 17px;
        background-color: #275E87;
        padding: 5px 50px 5px 50px;
        border-radius: 25px;
    }
    .text-container2 h5{
        visibility: hidden;
        position: absolute;
    }
} 