*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Navar */
.navbar{
    width: 100%;
    background-color: #D9D9D9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all 0.3s ease-in-out;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* Batas Navbar */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.judul{
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}

.container {
    width: 1280px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    gap: 20px;
    justify-content: center;
}
.first-container{
    display: flex;
    flex-direction: column;
}
/* Tentara */
.tentara{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.layout-tentara{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.layout-tentara p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 25px;
}
.layout-tentara a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 3px;
    background-color: #399349;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: -20px;
}
.bg-tentara{
    height: 120px;
    width: 400px;
    background-color: #D5FFDD;
    position: absolute;
    z-index: -1;
    top: 165px;
    border-radius: 15px;
}

.kiri-bawah{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
/* Kiri bawah */
.kiri{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tukang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tukang img{
    margin-top: 5px;
    margin-left : -70px;
}
.kiri-a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    width: 110px;
    background-color: #E29A00;
    text-align: center;
}
.tukang a{
    border-radius: 25px;
    margin-left : -70px;
    margin-top: -35px;
}
.bg-tukang{
    background-color: #FFF4DC;
    margin-left : -70px;
    top: 310px;
}
.bg-kiri-bawah{
    height: 130px;
    width: 170px;
    position: absolute;
    z-index: -1;
    border-radius: 25px;
}
/* Batas Tukang */
/* Pramugari */
.pramugari{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -70px;
}
.pramugari img{

    margin-top: 10px;
}
.pramugari a{
    border-radius: 25px;
    margin-top: -35px;  
}
.bg-pramugari{
    background-color: #FFCED7;
    top: 460px;
}
/* Batas Pramugari */
/* Fotografer */
.fotografer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 45px;
    height: 110%;
    margin-top: -10px;
}

/* Fotografer */
.fotografer img{
    height: 120px;
    margin-left: 35px;
}
.fotografer h5{
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}
.fotografer p{
    font-size: 12px;
    text-align: center;
    width: 70%;
    margin-left: 30px;
    margin-bottom: 10px;
}
.fotografer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    width: 130px;
    background-color: #3279AF;
    text-align: center;
    border-radius: 25px;
    margin-left: 30px;
}
.bg-fotografer{
    background-color: #E2F2FF;
    height: 280px;
    width: 200px;
    position: absolute;
    top: 310px;
    z-index: -1;
    border-radius: 25px;
    margin-left: 30px;
}
/* Batas Fotografer */
/* Kanan Atas */
.second-container{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: -60px;
    padding-top: 20px;
}
.sub-container1{
    height: 280px;
    background-color: #F4F4F4;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.isi-container-1{
    height: 60px;
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #D8D6C1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.sub-container1 img{
    height: 50px;
}
.text-sub-container1{    
    padding-left: 15px;
}
.sub-container1 a{
    text-decoration: none;
    font-size: 13px;
    background-color: #D8D6C1;
    padding: 2px 40px;
    border-radius: 25px;
    color: white;
}
/* Batas Kanan Atas */
.sub-container2{
    height: 120px;
    background-color: #F4F4F4;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.isi-container-2{
    height: 80px;
    width: 180px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.text-container2{
    display: flex;
    flex-direction: column;
}
.sub-container2 a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    background-color: #D8D6C1;
    padding: 8px 5px 8px 5px;
    border-radius: 10px;
    color: white;
}
@media screen and (min-width: 425px) and (max-width: 1280px) {
    
} 